@media screen and (max-width: 576px){
    .container{
        width: 100%;
        padding: 0 20px;
    }
    .nav-list-items{
        display: none;
        border: none;
        border-radius: none;
        gap: none;
    }
   .navbar{
    padding: 25px;
   }
   
    #hamburg-menu{
        display: block;
    }
    .banner{
        flex-direction: column;
        padding: 16px;
    }
    #badge-1{
        top: 170px;
        right: -107px;
    }
    #badge-2{
        top: -322px;
        left: -100px;
    }
    .banner-img img{
        padding: 24px;
    }
    .banner-content h1{
        font-size: 2.8rem;
    }
    .banner-btn-container{
        display: flex;
    }
    .banner-btn{
        padding: 14px 21px 14px 21px;
    }
    #change-habits{
        padding-left: 25px;
        padding-right: 25px;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
    }
    .card-img{
        padding: 20px;
    }
    .extra-mile-section-container{
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
    .extra-mile-content{
        width: 100%;
        padding: 20px;
    }
    .extra-mile-content h3{
        font-size: 2.2rem;
    }
    .extra-mile-img{
        width: auto;
        padding: 20px;
    }
    .extra-mile-btn{
        padding: 16px 100px;
    }
    .bmi-calculator-title-section{
        width: 100%;
        padding: 0 12px;
    }
    .bmi-calculator-container{
        flex-direction: column;
    }
    .bmi-calculator-chart{
        width: 100%;
        margin-bottom: 50px;
    }
    .calculate-your-bmi{
        width: 100%;
        
    }
    .calculate-your-bmi .input-wrapper{
        padding: 20px;
        width: 100%;
    }
    .calculate-your-bmi .input-field{
        width: 100%;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
      
        
    }
    
   
}
@media screen and (min-width:576px) and (max-width: 992px) {
    .container{
        padding: 24px;
    }
    .navbar{
        padding: 30px;
    }
    .nav-list-items{
        gap: 20px;
    }
    
    .banner{
        flex-direction: column;
        padding: 20px;
    }
    #badge-1{
        top: 194px;
        right: -128px;
    }
    #badge-2{
        top: -217px;
        left: -140px;
    }
    #change-habits{
        padding-left: 50px;
        padding-right: 50px;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .card-img{
        padding: 40px;
    }
    .extra-mile-content h3{
        font-size: 2.2rem;
    }
    .extra-mile-img img{
        width: 100%;
        height: 100%;
    }
    .bmi-calculator-title-section{
        width: 100%;
        padding: 0 12px;
    }
    .bmi-calculator-container{
        flex-direction: column;
    }
    .bmi-calculator-chart{
        width: 100%;
        margin-bottom: 50px;
    }
    .calculate-your-bmi{
        width: 100%;
        
    }
    
}
